################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/CodeMetrics/obj
/CodeMetricsGoodCode/obj
/SampleCodeAfterAnalysis/obj
/SampleCodeBeforeAnalysis/obj
